:root {
  --background-layout: linear-gradient(90.27deg, #2c2c2c 0%, #1e1e1e 100%);
  --color-black: rgba(30, 30, 30, 1);
  --color-white: #fff;
  --color-gray: rgba(108, 108, 108, 1);
  --letter-spacing: -0.02em;

  --button-color: rgba(240, 240, 240, 1);
  --border-color: rgba(214, 214, 214, 1);
  --icon-color: rgba(140, 140, 140, 1);
  --font-family: "Inter";
  // --font-family: "Inter", serif;
}
